body {
<<<<<<< Updated upstream
    background-color: purple;
    color: white;
}

h2 {
    color: black;
}

.navbar {
    background-color: green;
=======
    background-color: rgb(98, 155, 182);
    color: rgb(0, 0, 0);
}

.navbar {
    background-color: black;
>>>>>>> Stashed changes
}
